.box {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.calcbody {
    border-radius: 10px;
    display: flex;
    height: 500px;
    width: 400px;
    background-color: red;
    flex-direction: column;
}

.screen {
    border-radius: 10px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 100px;

}

.extras {
    margin-top: auto;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-left: 5px;


}

.buttonlen {
    height: 300px;
    width: 300px;
    font-size: 0;
}

.button {
    background-color: aquamarine;
    font-size: medium;
    padding: 40px;
    padding-bottom: 30px;
    margin: 2px;
}

.buttonsize {
    margin-left: 5px;
    height: 100px;
    width: 400px;
}

.buttonlower {

    margin: 2px;
    margin-left: 4px;
    font-size: medium;
    padding: 32px;
}

.ac {
    background-color: lightseagreen;
    margin-right: 0px;
    margin-left: 2px;
    font-size: medium;
    padding: 32px;
    padding-left: 33px;
    padding-right: 30px;
}

.zero {
    background-color: aquamarine;
    margin: 2px;
    margin-left: 0px;
    font-size: medium;
    padding: 32px;
    padding-left: 39px;
    padding-right: 40px;
    margin-right: 0px;


}

.x {
    background-color: aquamarine;
    font-size: medium;
    padding: 40px;
    padding-bottom: 30px;
    margin: 2px;
    padding-right: 36px;

}

.equal {
    background-color: aquamarine;
    margin: 2px;
    margin-left: 0px;
    font-size: medium;
    padding: 32px;
    padding-left: 39px;
    padding-right: 40px;
    margin-right: 0px;

}

.plus {
    background-color: aquamarine;
    margin: 2px;
    margin-left: 0px;
    font-size: medium;
    padding: 32px;
    padding-left: 37px;
    padding-right: 37px;
}

.display {

    background-color: brown;
    display: flex;
    justify-content: flex-end;
    height: 90px;
    width: 390px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.text {
    color: lemonchiffon;
    align-self: flex-end;
    font-family: sans-serif;
    font-size: x-large;

}

.ac:hover {
    background-color: darkorange;
}


.button:hover,
.x:hover,
.plus:hover,
.zero:hover,
.equal:hover {
    background-color: rgb(238, 238, 93);
}